<!DOCTYPE html>
<head>
</head>

<body>

  <h1><%= @employee.first_name %> <%= @employee.last_name %></h1>

  <table>
    <thead>
      <tr>
        <th>Email Address</th>

      </tr>
    </thead>

    <tbody>
      <tr>
        <td><a href="mailto:<%= @employee.email %>"><%= @employee.email %></a></td>
      </tr>
    </tbody>
  </table>
</body>
